.folderCreator {
    .footer {
        margin-top: 2em;
        text-align: center;
        padding-bottom:5em;

        button.btn-block, .btn-toolbar {
            width: 80%;
            margin: auto;
        }
    }


    .ql-editor {
        min-height: 300px;
    }
}
