/.vs/AVRadioWorkflow/DesignTimeBuild/.dtbcache.v2
/.vs/AVRadioWorkflow/v15/.suo
/.vs/AVRadioWorkflow/v16/.suo
/AVRadioWorkflow/AVRadioWorkflow.csproj.user
/AVRadioWorkflow/ClientApp/generated
/AVRadioWorkflow/node_modules
/AVRadioWorkflow/bin
/AVRadioWorkflow/obj
/AVRadioWorkflow/ClientApp/preRenderDist
/actionServer/release
/actionServer/scripts/node_modules
/actionServer/scripts/dist
