@import '../../variables.scss';

.mediaList {

    .dropContainer {
        min-height: 200px;
        padding: 10px;
    }

    .hasDrag {
        background-color: $gray-lighter;
    }

    .fileDisplay{
        overflow:auto;
    }
}
