//contains siteWide styles
@import './variables.scss';
@import "../node_modules/bootstrap/scss/bootstrap";

body {
    font-family: $fontFamily;
}

.mainContent {
    margin-top: 10px;
}

.react-datepicker__input-container {
    input {
        height: 38px;
        //width: 338px;
    }
}
